html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#graphs {
  background: #fff;
  color: #000;
}

#photos {
  background: #fff;
}

#images {
  display: flex;
}

.imagesMoreHeight img {
  height: 420px !important;
}

#images img {
  padding: 5px;
  width: 25%;
  height: 300px;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 880px) {
  #images {
    display: inherit;
  }

  #images img {
    width: 100%;
  }

  .imagesMoreHeight img {
    height: 650px !important;
  }
}